<h1>Task list</h1>

<div data-ng-if="objs.$resolved && objs.length===0">
    There are no tasks
</div>

<div class="panel panel-default">
    <div class="panel-heading">Information</div>
    <div class="panel-body">
        <p>The list is ordered first by finalization status, then by priority and due date.</p>
        <p>
            <strong class="list-group-item-danger">Red</strong> are very important tasks, 
            <strong class="list-group-item-warning">yellow</strong> are important ones, 
            <strong class="list-group-item-info">blue</strong>
            are normal ones and <em>white</em> are trivial ones.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <input type="text" class="form-control" placeholder="Filter..." data-ng-model="filter">
    </div>
    

    <div class="panel-body">
		<ol 
		    class="list-group"
		    data-ng-if="!(objs.$resolved && objs.length===0)"
		>
			<li 
			   class="list-group-item"
			   data-ng-repeat="obj in objs|filter:filter" 
			   
			   data-ng-class="{
			       ''                       : (obj.priority===4), 
			       'list-group-item-info'   : (obj.priority===3),
			       'list-group-item-warning': (obj.priority===2),
			       'list-group-item-danger' : (obj.priority===1)
			   }"
			>
			   <a data-ng-href="/#/tasks/{{obj.id}}" href="javascript:void(0)">
				   <h1 class="well well-sm">{{obj.summary}}</h1>
				   <div class="list-group-item-text">
					   <span class="badge" data-ng-if="obj.due" >due: {{moment(obj.due).calendar()}}</span>
					   <span class="badge" data-ng-if="obj.finished" >finished</span>
					   <span class="badge" >modified: {{moment(obj.modified).calendar()}}</span>	   
				   </div>
			   </a>
			</li>
			
		</ol>
	</div>

</div>