<div class="panel panel-default list-group-item-success" data-ng-show="message">
    <div class="panel-body">
        {{message}}
    </div>
</div>
<div class="panel panel-default list-group-item-danger" data-ng-show="error">
    <div class="panel-body">
        {{error}}
    </div>
</div>

<form class="input-group">

    <input class="form-control"  placeholder="Title" type="text" data-ng-model="obj.title" data-ng-disabled="!editable"/>

    <div data-ng-show="error_data.title">{{error_data.title[0]}}</div>

	<label data-ng-show="editable">
        Change image
        <input type="file" data-ng-model="editingImage" base-sixty-four-input></label>
    </label
    <label class="image" >
        <img data-ng-src="{{obj.content}}" data-ng-if="obj" data-ng-show="obj.content && !obj.content.value">
        <img data-ng-src="data:{{obj.content.mimeType}};base64,{{obj.content.value}}" data-ng-if="obj" data-ng-show="obj.content && obj.content.value">
        <span data-ng-show="!obj.content">No image</span>
    </label>
    <div data-ng-show="error_data.content">{{error_data.content[0]}}</div>

    <div data-ng-show="editable" class="row">
        <label class="col-md-6">
            <input class="form-control" type="text" data-ng-model="editingTag">
        </label>
        <button class="btn btn-default col-md-6" data-ng-click="addTag()" data-ng-disabled="!editingTag">Add tag</button>
    </div>

    <label>Tags: </label>
    <div class="list-group-item-text">
        <em data-ng-if="obj.tags.length==0">No tags</em>
        <span class="badge" data-ng-repeat="tag in obj.tags">{{ tag.name }}</span>
   </div>

    <button class="btn btn-default" data-ng-click="saveObject()" data-ng-show="editable">Save</button>

</form>